/* RssFeed.module.css */
.centeredRssFeedContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 60px; /* Adjust the margin-top to position it below your navbar */
  }
  
  .rssFeedTitle {
    font-size: 36px; /* Increase the font size */
    font-weight: bold;
  }
  
  .rssFeedList {
    list-style: none;
    padding: 5;
  }
  
  .rssFeedItem {
    margin-bottom: 20px; /* Increase the margin between items */
  }
  
  .rssFeedItem a {
    text-decoration: none;
    color: #333;
    font-size: 20px; /* Increase the font size */
  }
  
  .rssFeedItem a:hover {
    color: #0070f3; /* Add your desired hover color */
  }
  