/* Main.module.css */

/* Styling for the Main component */
.myHeading {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 1rem;
}

.myParagraph {
  font-size: 1.25rem;
  color: #666;
  line-height: 1.5;
}

.mainContainer {
  justify-content: space-between;
}


.imageContainer {
  max-width: 100%;

}

/* Default styles for larger screens */
.responsiveImage {
  max-width: 100%;
  width: 100%;
  height: auto;
}

/* Media query for screens with a maximum width of 600px (adjust as needed) */
@media screen and (max-width: 768px) {
  .responsiveImage {
    max-width: 80%;
  }
}

.comingSoon {
  font-size: 2.5rem; /* Increase the font size */
  color: red; /* Change the text color to a vibrant color */
  text-transform: uppercase; /* Convert text to uppercase */
  letter-spacing: 3px; /* Add some letter spacing */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Add a subtle text shadow */
}

.platformLinks {
  display: flex;
  gap: 10px; /* Adjust the gap to control the spacing between links */
}

.platformLink {
  text-decoration: none;
  color: #0070f3;
}


