/* Main.module.css */

/* Styling for the Main component */
.myHeading {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 1rem;
}

.myParagraph {
  font-size: 1.25rem;
  color: #666;
  line-height: 1.5;
}

.mainContainer {
  justify-content: space-between;
}

.textContainer {
  flex: 1;
  padding: 0 20px;
}

.imageContainer {
  max-width: 100%;
  margin-top: 20px; /* Add margin between the image and the content */
}

/* Default styles for larger screens */
.responsiveImage {
  max-width: 100%;
  width: 100%;
  height: auto;
}

/* Media query for screens with a maximum width of 600px (adjust as needed) */
@media screen and (max-width: 768px) {
  .responsiveImage {
    max-width: 80%;
  }
}

/* Styling for the Podcast Section */
.podcastSection {
  background-color: transparent; /* Make the background transparent */
  border: none; /* Remove border */
  padding: 0; /* No padding */
  border-radius: 0; /* No border radius */
  box-shadow: none; /* No box shadow */
  font-size: 1.25rem; /* Adjust font size to match existing styles */
  color: #666; /* Adjust font color to match existing styles */
  line-height: 1.5; /* Adjust line height to match existing styles */
  margin-top: 20px; /* Add margin between the podcast section and the content */
}

.podcastSection h2 {
  font-size: 1.5rem; /* Adjust font size to match existing styles */
  margin-bottom: 0.5rem; /* Adjust margin to match existing styles */
}

.podcastSection ul {
  list-style-type: disc; /* Add bullet points (disc) in front of list items */
  padding: 0;
  margin-left: 1rem; /* Create some space between the bullets and the text */
}

.podcastSection li {
  margin-bottom: 0.5rem; /* Adjust margin to match existing styles */
}

.podcastSection a {
  text-decoration: underline; /* Add underline to links to match existing styles */
  color: #3498db; /* Adjust link color to match existing styles */
  transition: color 0.3s;
}

.podcastSection a:hover {
  color: #ff5722;
}

.comingSoon {
  font-size: 2.5rem; /* Increase the font size */
  color: #ff5722; /* Change the text color to a vibrant color */
  text-transform: uppercase; /* Convert text to uppercase */
  letter-spacing: 3px; /* Add some letter spacing */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Add a subtle text shadow */
}

