/* global.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

/* Apply a smooth gradient background */
body {
  background: linear-gradient(135deg, #f7f8fa, #e0e6ed);
  margin: 0; /* Remove default margin */
  padding: 1rem; /* Add some padding */
  font-family: Arial, sans-serif; /* Specify a font family */
}

.page {
  min-height: 100vh; /* Ensure the container takes at least the full viewport height */
  display: flex;
  flex-direction: column;  
  background-repeat: repeat;
  padding-top: 80px; /* Adjust the value as needed */
}

